.intro-section
  .intro-section__headline
    .intro-section__headline-flare
    %h1.intro-section__headline-heading

  .intro-section__content
    %img.intro-section__image{src: 'images/angleshot.jpg', alt: ''}
    .intro-section__summary
      %p
        I'm a web developer with a knack for design. I code in Philly&mdash;where I've lived my whole life. I also build custom effects pedals under the banner of
        %a.intro-section__summary-link{ href: "https://www.facebook.com/sixtyfortycustompedals"} Sixty/Forty Custom Pedals
        and play guitar/sing in my noiserock/post-hardcore band
        %a.intro-section__summary-link{ href: "http://www.fakingband.com"} FAKING

      %p
        I built this site utilizing Jekyll as a simple framework - writing in HAML, SASS, and jQuery - using partial file structure for both markup and stylesheets - while untilizing BEM namespacing and elements of ITCSS. 

        I used Jekyll as a simple framework so that I can host the site on GitHub Pages. Jekyll does work with HAML via plugins, but GitHub Pages does not support those plugins, so I wrote a ruby interpreter to precompile my haml files before 

    .intro-section__icon-links
      %a.intro-section__icon-link.intro-section__icon-link--left{ href: "https://www.linkedin.com/in/jeffbowne"}
        %i.fa.fa-linkedin.fa-3x
      %a.intro-section__icon-link.intro-section__icon-link--middle{ href: "https://github.com/JeffBowne"}
        %i.fa.fa-github.fa-4x
      %a.intro-section__icon-link.intro-section__icon-link--right{ href: "http://www.fakingband.com"}
        %i.fa.fa-music.fa-3x
