%html
  %head
    %meta{ charset: 'utf-8' }
    %title Jeff Bowne
    %meta{ name: 'viewport', content: 'width=device-width' }
    %link{ rel: 'stylesheet', type: 'text/css', href: '/css/styles.css' }
    / %script{ src: 'https://code.jquery.com/jquery-3.3.1.min.js' }

  %body
    %h1 THIS IS A HAML FUCKIN FILE
    .crazy this is crazy right????
