.design-area#design-area
  %h2.design-area__heading GRAPHIC DESIGN

  .design-area__gallery.gallery
    -Dir.glob('images/design/*').sort.each do |image|
      .gallery__frame{ data: { gallery_frame: '' } }
        %img.gallery__image{ alt: '', src: image }

  %p.design-area__subtext more to come
