.intro-area
  .intro-area__banner
    .intro-area__banner-flare welcome
    %h1.intro-area__heading
      %span.intro-area__heading-span MY NAME IS
      %span.intro-area__heading-span JEFF BOWNE

  .intro-area__section
    %img.intro-area__image{src: 'images/angleshot.jpg', alt: ''}
    .intro-area__summary
      %p
        %span I'm a web developer with a knack for design. I lived in Philly my whole life before recently buying a house, with my wife, 5 minutes outside of it. When I'm not coding I build custom effects pedals under the banner of
        %a.intro-area__summary-link{ href: "https://www.facebook.com/sixtyfortycustompedals"} Sixty/Forty Custom Pedals
        %span and I'm the guitar player and singer in a noise-rock/post-hardcore band called
        %a.intro-area__summary-link{ href: "http://www.fakingband.com"} FAKING
        %span .

      %p
        %span
          I built this site with Haml, Sass, jQuery, and Ruby. For details on the tech behind this site check out the footer.
        %a.intro-area__summary-icon{ href: '#footer',  data: { nav_link: '' } }
          %i.fa.fa-angle-double-down.fa-2x

  .intro-area__icons
    %a.intro-area__icon-link{ href: "https://www.linkedin.com/in/jeffbowne"}
      %i.fa.fa-linkedin.fa-3x
    %a.intro-area__icon-link{ href: "https://github.com/JeffBowne"}
      %i.fa.fa-github.fa-4x
    %a.intro-area__icon-link{ href: "http://www.fakingband.com"}
      %i.fa.fa-music.fa-3x
