.intro-area
  .intro-area__banner
    .intro-area__banner-flare welcome
    %h1.intro-area__heading
      %span.intro-area__heading-span MY NAME IS
      %span.intro-area__heading-span JEFF BOWNE

  .intro-area__section
    %img.intro-area__image{src: 'images/headshot-l.jpg', alt: ''}
    .intro-area__summary
      %p
        I'm a web developer, a graphic designer, a teacher, a musician, a pedal builder, and a heavy sleeper. I lived in Philly my whole life until recently when my wife and I bought a house 5 minutes outside of it. I build custom effects pedals under the banner of
        %a.intro-area__summary-link{ href: "https://www.facebook.com/sixtyfortycustompedals"} Sixty/Forty Custom Pedals
        and I'm the guitar player and singer in a noise-rock/post-hardcore band called
        %a.intro-area__summary-link{ href: "http://www.fakingband.com"} FAKING.

      %p
        I built this site with Haml, Sass, jQuery, and Ruby. For details on the tech behind this site check out the footer.
        %a.intro-area__summary-icon{ href: '#footer',  data: { nav_link: '' } }
          %i.fa.fa-angle-double-down.fa-2x

  .intro-area__icons
    %a.intro-area__icon-link{ href: "https://www.linkedin.com/in/jeffbowne", target: "_blank"}
      %i.fa.fa-linkedin.fa-3x
    %a.intro-area__icon-link{ href: "https://github.com/JeffBowne/new-homepage", target: "_blank"}
      %i.fa.fa-github.fa-4x
    %a.intro-area__icon-link{ href: "http://www.fakingband.com", target: "_blank"}
      %i.fa.fa-music.fa-3x
