%ul.primary-nav
  %li.primary-nav__item.primary-nav__item--tag
    %a{ href: "#"}
      %i.fa.fa-code.fa-3x
  %li.primary-nav__item
    %a{ href: "#"} RESUME
  %li.primary-nav__item
    %a{ href: "#"} ARTWORK
  %li.primary-nav__item
    %a{ href: "#"} DESIGN
  %li.primary-nav__item
    %a{ href: "#"} CONTACT
