%ul.primary-nav
  %li.primary-nav__tag>
    %a.primary-nav__tag-link{ href: "#",  data: { nav_link: '' } }
      %i.fa.fa-code.fa-3x
  %li.primary-nav__item.primary-nav__item--yellow>
    %a.primary-nav__item-link{ href: "#",  data: { nav_link: '' } } RESUME
  %li.primary-nav__item.primary-nav__item--red>
    %a.primary-nav__item-link{ href: "#",  data: { nav_link: '' } } ANIMALS
  %li.primary-nav__item.primary-nav__item--green>
    %a.primary-nav__item-link{ href: "#",  data: { nav_link: '' } } PEDALS
  %li.primary-nav__item.primary-nav__item--purple>
    %a.primary-nav__item-link{ href: "#",  data: { nav_link: '' } } DESIGN
