%ul.primary-nav
  %li.primary-nav__tag>
    %a.primary-nav__tag-link{ href: "#"}
      %i.fa.fa-code.fa-3x
  %li.primary-nav__item>
    %a.primary-nav__item-link{ href: "#"} RESUME
  %li.primary-nav__item>
    %a.primary-nav__item-link{ href: "#"} ARTWORK
  %li.primary-nav__item>
    %a.primary-nav__item-link{ href: "#"} DESIGN
  %li.primary-nav__item>
    %a.primary-nav__item-link{ href: "#"} CONTACT
