/*------------------------------------*\
    #COLORS
\*------------------------------------*/

$black:     #000000;
$white:     #FFFFFF;
$gold:      #E2B000;
$tomato:    #FB5C43;
$green:     #75B391;
$purple:    #9E8DA7;


/**
 * Global Functional Color Variables
 */

$resume-color:     $gold;
$artwork-color:    $tomato;
$design-color:     $green;
$contact-color:    $purple;
