/*------------------------------------*\
    #COLORS
\*------------------------------------*/

$black:     #000000;
$white:     #ffffff;
$blue:      #3a485d;
$yellow:    #e2b000;
$red:       #fb5c43;
$green:     #75b391;
$purple:    #9e8da7;
$teal:      #016a7d;
$shell:     #e6e6e6;

/**
 * Global Functional Color Variables
 */

$resume-color:     $yellow;
$artwork-color:    $red;
$design-color:     $green;
$contact-color:    $purple;
