/*------------------------------------*\
    #GLOBAL
\*------------------------------------*/

/**
 * Default Global Spacing Units
 */

$spacing-unit:            6px;
$spacing-unit--x2:        round($spacing-unit * 2);
$spacing-unit--x3:        round($spacing-unit * 3);
$spacing-unit--x4:        round($spacing-unit * 4);
$spacing-unit--plus-half: round($spacing-unit + ($spacing-unit / 2));

/**
 * Breakpoint Widths
 */

$small-breakpoint:   426px;
$medium-breakpoint:  769px;
$wide-breakpoint:    1025px;

/**
 * Site Border Radiuses
 */

$small-border-radius:    5px;
$large-border-radius:    50px;
$round-border-radius:    50%;

/**
 * Global Styles
 */

body {
  @include antialias;
  margin: 0;
  color: $white;
  font-size: $font-size;
  font-family: $font-family-primary;
  background: $blue;
}
