/*------------------------------------*\
    #GLOBAL
\*------------------------------------*/

/**
 * Default Global Spacing Units
 */

$spacing-unit:            6px;
$spacing-unit--x2:        round($spacing-unit * 2);
$spacing-unit--x3:        round($spacing-unit * 3);
$spacing-unit--x4:        round($spacing-unit * 4);
$spacing-unit--plus-half: round($spacing-unit + ($spacing-unit / 2));

/**
 * Breakpoint Widths
 */

$small-breakpoint:   480px;
$medium-breakpoint:  768px;
$wide-breakpoint:    991px;

// $medium-breakpoint:  700px;
// $wide-breakpoint:    960px;

/**
 * Global Styles
 */

body {
  @include antialias;
  margin: 0;
  color: $white;
  font-size: $font-size;
  font-family: $font-family-primary;
  background: $blue;
  // background: url(../images/parts-bg.png) no-repeat center center fixed;
  // background-size: cover;
}


// .hovres {
//     color: #E2B000;
//     text-shadow: 0 -2px 1px #000;
// }
// .hovart {
//     color: #FB5C43;
//     text-shadow: 0 -2px 1px #000;
// }
// .hovdes {
//     color: #75B391;
//     text-shadow: 0 -2px 1px #000;
// }
// .hovcon {
//     color: #9E8DA7;
//     text-shadow: 0 -2px 1px #000;
// }
