/*------------------------------------*\
    #GLOBAL
\*------------------------------------*/


/**
 * Breakpoint Widths
 */

$small-breakpoint:   426px;
$medium-breakpoint:  769px;
$wide-breakpoint:    1025px;

/**
 * Global Spacing Units
 */

$spacing-unit:            6px;
$spacing-unit--x2:        round($spacing-unit * 2);
$spacing-unit--x3:        round($spacing-unit * 3);
$spacing-unit--x4:        round($spacing-unit * 4);
$spacing-unit--plus-half: round($spacing-unit + ($spacing-unit / 2));

/**
 * Global Border Radiuses
 */

$border-radius-small:    5px;
$border-radius-large:    50px;
$border-radius-round:    50%;

/**
 * Global Border Sizes
 */

$border-thinnest:    1px solid;
$border-thin:        2px solid;
$border-thick:       3px solid;

/**
 * Global Styles
 */

body {
  @include antialias;
  margin: 0;
  color: $white;
  font-size: $font-size;
  font-family: $font-family-primary;
  background: $blue;
}
