/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

/**
 * Google Fonts Import
 */

@import url(https://fonts.googleapis.com/css?family=Bitter:400);

/**
 * Font Variables
 */

$font-family-primary:      'Bitter', serif;
$font-family-secondary:    'Helvetica', sans-serif;

/**
 * Antialiasing
 */

@mixin antialias {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * Text Sizes
 */

$font-size:              16px;
$font-size-small:        $font-size - 2;
$font-size-large:        $font-size * 2;
$font-size-x-large:      $font-size * 3;
$font-size-huge:         $font-size * 4;
/*
20 nav
24 resume piece heading
32 section heading
64 title
 */
