/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Bitter:400);

// Font Variables
$font-family-primary:      'Bitter', serif;   
$font-family-secondary:    'Helvetica', sans-serif;

body {
	font-family: $font-family-primary;
}


/**
 * Text sizes
 */

$font-size:              16px;
$font-size-large:        $font-size * 2;
$font-size-x-large:      $font-size * 3;
$font-size-huge:         $font-size * 4;
/*
20 nav
24 resume piece heading
32 section heading
64 title
 */
