/*------------------------------------*\
    #ANIMALS-AREA
\*------------------------------------*/


.animals-area {
  padding-top: 100px;
  padding-bottom: 100px;
}

  .animals-area__heading {
    color: $red;
  }

  .animals-area__section {}

    .animals-area__coming-soon {
      font-size: 18px;
      letter-spacing: 12px;
      text-align: center;
    }
