/*------------------------------------*\
    #BACKGROUND
\*------------------------------------*/

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

  .background__image {
    @include center($to: 'both');
    width: 160%;
    opacity: 0;
    animation: fade-in 400ms ease-out 200ms forwards;


    @include respond-to($medium-breakpoint) {
      @include center($to: 'both');
      width: 100%;
    }
  }
