/*------------------------------------*\
    #CONTACT-AREA
\*------------------------------------*/

$contact-area-link-box-bg-color:    rgba(11, 11, 11, 0.5);


.contact-area {
  position: relative;
}

  .contact-area__heading {
    color: $purple;
  }

  .contact-area__link-box {
    width: 90%;
    margin: 0 auto;
    font-size: 5vw;
    letter-spacing: 1px;
    text-align: center;
    background: $contact-area-link-box-bg-color;
    transition: 800ms ease;

    @include respond-to($medium-breakpoint) {
      max-width: 900px;
      font-size: 2.5vw;
      letter-spacing: 10px;
    }
  }

    .contact-area__link {
      display: inline-block;
      padding: 60px 0;
      color: $white;
      text-decoration: none;
      // position: relative;
      // top: 50%;
      // transform: translateY(-50%);
      transition-duration: 800ms;
    }
