/*------------------------------------*\
    #DESIGN-AREA
\*------------------------------------*/


.design-area {
  padding-top: 100px;
  padding-bottom: 100px;
}

  .design-area__heading {
    color: $purple;
  }

  .design-area__gallery {
    text-align: center;
  }
