/*------------------------------------*\
    #FOOTER
\*------------------------------------*/


.footer {
  margin-top: 24px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  background: $black;
  border-top: solid $white 4px;

  @include respond-to($medium-breakpoint) {
    margin-top: 100px;
  }
}

  .footer__heading {
    display: inline-block;
    padding: 0 24px;
    line-height: 0;
    border-bottom: solid $blue 2px;
  }

  .footer__page-details {
    font-size: $font-size-small;
  }

    .footer__link {
      color: white;
      // font-weight: bold;
    }
