/*------------------------------------*\
    #INTRO-AREA
\*------------------------------------*/

$intro-area-icon-shadow:    2px 2px 0 $white, -2px -2px 0 $white, 2px -2px 0 $white, -2px 2px 0 $white;

@keyframes drift {
  0% { left: 0%; }
  100% { left: 75%; }
}

@keyframes flash {
  0% { text-shadow: 0 0 0 $white;}
  25% { text-shadow: 0 0 15px $white;}
  100% { text-shadow: 0 0 0 $white;}
}

// @keyframes shove {
//   0%, 100% { top: 9px; }
//   50% { top: 11px; }
// }


.intro-area {
  margin: 0 6px;
  padding: 60px 0;
  border-left: $border-thinnest $black;
  box-sizing: border-box;

  @include respond-to($medium-breakpoint) {
    margin: 0 24px;
  }
}

  .intro-area__banner {
    margin-bottom: $spacing-unit--x2;
    padding-top: $spacing-unit;
    border-top: $border-thinnest $white;

    @include respond-to($medium-breakpoint) {
      display: inline-block;
      margin-bottom: $spacing-unit--x4;
      padding-top: $spacing-unit--x2;
      border-top: $border-thick $white;
    }
  }

    .intro-area__banner-flare {
      position: relative;
      padding-left: halve($spacing-unit);
      width: 60px;
      font-size: 14px;
      animation: drift 200s ease-in-out 2s forwards;

      @include respond-to($medium-breakpoint) {
        animation-duration: 300s;
      }
    }

    .intro-area__heading {
      @include full-bleed-container;
      animation: flash 1s ease-in-out 2s;

      @include respond-to($medium-breakpoint) {
        position: static;
        margin: 0;
        padding-left: 10px;
        width: auto;
        text-align: left;
      }
    }

      .intro-area__heading-span {
        @include no-wrap;
      }

  .intro-area__section {
    @include respond-to($medium-breakpoint) {
      margin: $spacing-unit--x4 0;
    }
  }

    .intro-area__image {
      display: block;
      margin: 0 auto;
      width: 80%;
      max-width: 300px;
      border-radius: $border-radius-round;

      @include respond-to($medium-breakpoint) {
        display: inline-block;
        margin: 0 40px;
        width: 25%;
        min-width: 200px;
        vertical-align: middle;
        transition: transform 1s;

        &:hover {
          transform: rotate(360deg);
          transition: transform 250s;
        }
      }
    }

    .intro-area__summary {
      margin-left: $spacing-unit;
      padding-left: 6px;
      font-size: 14px;
      line-height: 22px;
      border-left: $border-thick $white;
      box-sizing: border-box;

      @include respond-to($medium-breakpoint) {
        display: inline-block;
        margin: 0;
        width: 700px;
        max-width: 50%;
        font-size: 16px;
        line-height: 24px;
        vertical-align: middle;
      }
    }

      .intro-area__summary-link {
        color: $white;
        font-weight: bold;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        &:focus {
          text-decoration: underline;
          outline: none;
        }
      }

      .intro-area__summary-icon {
        position: relative;
        top: 9px;
        color: $white;
        line-height: 1;
        vertical-align: text-top;
        transition: top 300ms;

        &.link-highlight {
          top: 12px;
        }

        i {
          line-height: 0.6;
          vertical-align: text-bottom;
          overflow: hidden;
        }
      }

    .intro-area__icons {
      @include full-bleed-container;
      padding: 60px 0;
      text-align: center;

      @include respond-to($medium-breakpoint) {
        padding: 40px 0;
        text-align: center;
      }
    }

      .intro-area__icon-link {
        display: inline-block;
        padding: 0 10%;
        color: $white;
        font-size: 10px;
        transition: color 200ms, text-shadow 200ms;

        &:focus {
          color: $black;
          text-shadow: $intro-area-icon-shadow;
          outline: none;
        }

        @include respond-to($medium-breakpoint) {
          font-size: 16px;

          &:hover {
            color: $black;
            text-shadow: $intro-area-icon-shadow;
          }

          &:focus {
            color: $black;
            text-shadow: $intro-area-icon-shadow;
            outline: none;
          }
        }
      }
