/*------------------------------------*\
    #INTRO-AREA
\*------------------------------------*/

$intro-area-icon-shadow:    2px 2px 0 $white, -2px -2px 0 $white, 2px -2px 0 $white, -2px 2px 0 $white;

@keyframes drift {
  0% { left: 0%; }
  100% { left: 75%; }
}

@keyframes flash {
  0% { text-shadow: 0 0 0 $white; }
  50% { text-shadow: 0 0 15px $white; }
  100% { text-shadow: 0 0 0 $white; }
}


.intro-area {
  margin: 0 auto;
  padding-top: 60px;
  width: calc(100% - 12px);
  border-left: solid $black 1px;
  box-sizing: border-box;

  @include respond-to($medium-breakpoint) {
    width: calc(100% - 48px);
  }
}

  .intro-area__banner {
    margin-bottom: $spacing-unit--x2;
    padding-top: $spacing-unit--x3;
    border-top: solid $white 4px;

    @include respond-to($medium-breakpoint) {
      display: inline-block;
      margin-bottom: $spacing-unit--x4;
      padding-top: $spacing-unit--x2;
    }
  }

    .intro-area__banner-flare {
      position: relative;
      padding-left: halve($spacing-unit);
      width: 60px;
      font-size: 14px;
      animation: drift 200s ease-in-out 2s forwards;

      @include respond-to($medium-breakpoint) {
        animation-duration: 300s;
      }
    }

    .intro-area__heading {
      @include full-bleed-container;

      margin-top: 0;
      margin-bottom: 0;
      font-size: 11vw;
      font-weight: normal;
      letter-spacing: 6px;
      text-align: center;
      animation: flash 2s ease-in 1s forwards;

      @include respond-to($medium-breakpoint) {
        position: static;
        margin: 0;
        padding-left: 10px;
        width: auto;
        font-size: 64px;
        letter-spacing: 3px;
        text-align: left;
      }
    }

      .intro-area__heading-span {
        @include no-wrap;
      }

  .intro-area__section {

    @include respond-to($medium-breakpoint) {
      margin-top: $spacing-unit--x4;
    }
  }

    .intro-area__image {
      display: block;
      margin: 0 auto;
      width: 80%;
      max-width: 400px;
      border-radius: 500px;

      @include respond-to($medium-breakpoint) {
        display: inline-block;
        margin-left: 40px;
        width: 25%;
        min-width: 200px;
        vertical-align: middle;
        transition-duration: 1s;

        &:hover {
          transform: rotate(360deg);
          transition-duration: 250s;
        }
      }
    }

    .intro-area__summary {
      display: inline-block;
      margin: $spacing-unit;
      padding-left: 5px;
      width: calc(100% - 12px);
      font-size: 14px;
      line-height: 22px;
      border-left: solid $white 4px;
      box-sizing: border-box;

      @include respond-to($medium-breakpoint) {
        margin-left: 40px;
        width: 700px;
        max-width: 50%;
        font-size: 16px;
        line-height: 24px;
        vertical-align: middle;
      }
    }

      .intro-area__summary-link {
        color: $white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        &:focus {
          text-decoration: underline;
          outline: none;
        }
      }








    .intro-area__icon-links {
      margin: 60px auto;
      text-align: center;
    }

      .intro-area__icon-link {
        color: $white;
        font-size: 10px;
        transition-duration: 200ms;

        &:hover {
          color: $black;
          text-shadow: $intro-area-icon-shadow;
        }

        &:focus {
          color: $black;
          text-shadow: $intro-area-icon-shadow;
          outline: none;
        }
      }

      .intro-area__icon-link--left {}

      .intro-area__icon-link--middle {}

      .intro-area__icon-link--right {}










