/*------------------------------------*\
    #PEDALS-AREA
\*------------------------------------*/

$pedals-area-frame-focus-color:    rgba(11, 11, 11, 0.7);


.pedals-area {
  color: $green;
}

  .pedals-area__heading {}

    .pedals-area__heading-span {
      @include no-wrap;
    }

  .pedals-area__gallery {
    text-align: center;
  }

    .pedals-area__frame {
      display: inline-block;
      position: relative;
      margin: 12px;
      width: 30vw;
      height: 30vw;
      vertical-align: middle;
      overflow: hidden;

      @include respond-to($small-breakpoint) {
        width: 25vw;
        height: 25vw;
      }

      @include respond-to($medium-breakpoint) {
        width: 20vw;
        height: 20vw;
      }
    }

      .pedals-area__image {
        @include center($to: 'both');
        pointer-events: none;

        .zoom-frame & {
          max-width: 90%;
          max-height: 90%;
          opacity: 0;
        }
      }
