/*------------------------------------*\
    #PRIMARY-NAV
\*------------------------------------*/

$font-size-nav-items:    $font-size + 4;


.primary-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  margin: 0;
  padding: 0;
  height: 24px;
  text-align: center;
  background: $black;
  border-top: solid $white 3px;
  border-bottom: solid $white 3px;
  list-style: none;
  transition-duration: 100ms;

  @include respond-to($small-breakpoint) {
    height: 29px;
  }
}

  .primary-nav__tag {
    position: fixed;
    top: 20px;
    right: 0;
    left: 0;
    z-index: -10;
    height: 27px;
    clip: rect(9px, auto, 35px, auto);

    @include respond-to($small-breakpoint) {
      top: 25px;
    }


    @include respond-to($medium-breakpoint) {
      position: static;
      margin: -3px 15px 0;
      float: left;
    }
  }

    .primary-nav__tag-link {
      color: $white;
      font-size: 11px;
      transition-duration: 300ms;

      &:hover {
        transition-duration: 0ms;
      }

      &:focus {
        outline: none;
        transition-duration: 0ms;
      }
    }

  .primary-nav__item {
    display: inline-block;
    width: 25%;
    font-size: 14px;
    letter-spacing: -1px;
    text-align: center;
    transition-duration: 3000ms;

    @include respond-to($small-breakpoint) {
      font-size: 20px;
    }

    @include respond-to($medium-breakpoint) {
      width: 120px;
      float: left;
    }
  }

    .primary-nav__item-link {
      display: inline-block;
      padding-top: 11px;
      color: $white;
      text-decoration: none;
      transition-duration: 3000ms;

      &:hover {
        transition-duration: 300ms;
      }

      &:focus {
        outline: none;
        transition-duration: 100ms;
      }
    }

    .primary-nav__item-link--highlight {
      text-shadow: 0 -2px 1px $black;

      .primary-nav__item--yellow & {
        color: $yellow;
      }

      .primary-nav__item--red & {
        color: $red;
      }

      .primary-nav__item--green & {
        color: $green;
      }

      .primary-nav__item--purple & {
        color: $purple;
      }
    }

